<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jimmy.lighthouse.server.mapper.SegmentMapper">

    <resultMap type="com.jimmy.lighthouse.server.domain.SegmentDO" id="segmentMap">
        <id property="id" column="id"/>
        <result property="segmentId" column="segment_id"/>
        <result property="traceId" column="trace_id"/>
        <result property="parentSegmentId" column="parent_segment_id"/>
        <result property="parentSpanId" column="parent_span_id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_id"/>
        <result property="type" column="type"/>
        <result property="serviceName" column="service_name"/>
        <result property="instanceName" column="instance_name"/>
        <result property="ipAddress" column="ip_address"/>
        <result property="spans" column="spans" jdbcType="CHAR"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="description" column="description"/>
    </resultMap>

    <sql id="allColumns">
        <trim suffixOverrides=",">
            id,
            segment_id,
            trace_id,
            parent_segment_id,
            parent_span_id,
            start_time,
            end_time,
            type,
            service_name,
            instance_name,
            ip_address,
            spans,
            gmt_create,
            description
        </trim>
    </sql>

    <insert id="batchSaveSegment">
        insert into lighthouse_segment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="allColumns"></include>
        </trim>
        VALUES
        <foreach collection="list" item="segment" separator=",">
            (
            null,
            #{segment.segmentId},
            #{segment.traceId},
            #{segment.parentSegmentId},
            #{segment.parentSpanId},
            #{segment.startTime},
            #{segment.endTime},
            #{segment.type},
            #{segment.serviceName},
            #{segment.instanceName},
            #{segment.ipAddress},
            #{segment.spans},
            now(),
            #{segment.description}
            )
        </foreach>
    </insert>

</mapper>